body{
    background: rgb(247, 245, 245);
}
.alert-message{
    position: fixed;
    top: 100vh;
    width: 100%;
    border-radius: 3px;
    padding: 15px 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 6;
    opacity: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all ease 0.4s;
}
.alert-message p{
    background: black;
    padding: 15px;
    height: 48.4px;
}
.actions{
    position: fixed;
    top: 30vh;
    left: 1290px;
}
.actions li{
    margin-bottom: 20px;
    /* background: pink; */
    font-size: 27px;
    cursor: pointer;
    /* width: 230px; */
    padding: 15px;
    border-radius: 15px 0 0 0;
    box-shadow: 0px 0px 5px gray;
}
.actions li:hover{
    opacity: 0.8;
}
.actions li i{
    font-size: 30px;
}
.actions li i.save-icon{
    color: cornflowerblue;
}
.actions li i.set-back-icon{
    color: grey;
}
.container{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 100%;
    background: rgb(247, 245, 245);
}
.edit-navigation{
    position: fixed;
    left: 3%;
    width: 360px;
}
.edit-navigation a{
    font-size: 18px;
    color: black;
    padding: 15px;
    display: block;
    font-weight: 500;
    background-color: white;
    /* transition: background-color 0.3s color 0.3s; */
}
.edit-navigation a:hover {
    background-color: #D9D9D9;
}
.edit-file {
    margin-bottom: 10px;
    margin-top: 20px;
}
.edit-file.focus1 {
    color: rgb(153, 188, 144);
    border-left: 3px solid rgb(153, 188, 144);
}
.edit-acc.focus2 {
    color: rgb(153, 188, 144);
    border-left: 3px solid rgb(153, 188, 144);
}
.container input{
    display: block;
    border: 2px solid lightgray;
    padding: 10px;
    border-radius: 10px;
    width: 320px;
    font-size: 18px;
}
input:focus {
    outline: 1px solid rgb(169, 201, 161); /* Thay đổi màu viền của input khi được nhấn vào */
}
textarea:focus{
    outline: 2px solid rgb(169, 201, 161);
}
.edit-profile{
    background: white;
    padding: 20px 40px;
    box-shadow: 0 0 3px rgb(184, 179, 179);
    border-radius: 5px;
    width: 740px;
    /* height: 696px; */
    margin-left: 30%;
}
.edit-profile div{
    margin-bottom: 10px;
}
.edit-avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.edit-profile .edit-avatar .user-avatar-img-container{
    height: 90.4px;
    width: 90.4px;
    border-radius: 50%;
    overflow: hidden;
}
.edit-profile .edit-avatar .user-avatar-img-container img{
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.edit-profile .edit-avatar img:hover{
    opacity: 0.8;
}
.edit-profile .edit-avatar p{
    padding: 7px;
    width: 110px;
    text-align: center;
    background: rgb(240, 235, 235);
    border-radius: 15px;
    font-size: 15px;
}
.edit-profile .edit-avatar p:hover{
    opacity: 0.8;
    cursor: pointer;
}
.edit-avatar .avatar-file{
    display: none;
}
.edit-profile label{
    font-size: 15px;
    color: gray;
}
/* .edit-profile input{
    border: 2px solid lightgray;
    padding: 10px;
    border-radius: 10px;
    width: 320px;
    font-size: 18px;
} */
.edit-profile input.ocupation{
    width: 660px;
}
.edit-profile .introduction{
    resize: none;
    overflow: hidden;
    border: 2px solid lightgray;
    display: block;
    border-radius: 15px;
    padding: 10px;
    font-size: 18px;
    width: 660px;
    height: 218px;
}
.edit-profile .introduction::-webkit-scrollbar { 
    width: 8px;
    background-color: #F5F5F5;
}
.edit-profile .introduction::-webkit-scrollbar-thumb {
    background-color: #A8A8A8;
    border-radius: 8px;
}
.edit-profile .introduction::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 8px;
}
.edit-account{
    background: white;
    padding: 20px 40px;
    box-shadow: 0 0 3px rgb(184, 179, 179);
    border-radius: 5px;
    width: 740px;
    margin-left: 30%;
    margin-top: 50px;
    margin-bottom: 30px;
}
.edit-account div{
    margin-bottom: 10px;
}
.edit-account label{
    font-size: 15px;
    color: gray;
}
.fa-solid.fa-caret-down.down-click {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 42px;
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
}
.options {
    position: absolute;
    z-index: 4;
    display: none;
    width: 315px;
    height: 200px;
    overflow-y: scroll;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 5px gray;
    background-color: white;
}
.options::-webkit-scrollbar { 
    width: 8px;
    background-color: #F5F5F5;
}
.options::-webkit-scrollbar-thumb {
    background-color: #A8A8A8;
    border-radius: 8px;
}
.options::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 8px;
}
.edit-profile div.option {
    word-wrap: break-word;
    padding-left: 15px;
    height: 35px;
    display: flex;
    margin: 0;
    align-items: center;
}
.option:hover {
    background-color: rgb(153, 188, 144);
    cursor: pointer;
    color: black;
}
.option.selected {
    color: rgb(153, 188, 144);
} 
.option.selected:hover {
    background-color: rgb(153, 188, 144);
    cursor: pointer;
    color: black;
}
.main-box {
    width: 320px;
    position: relative;
}
.change-username, .change-password{
    background: rgb(225, 237, 237);
    padding: 10px 15px;
    width: 185px;
    border-radius: 10px;
    cursor: pointer;
}
.change-username:hover, .change-password:hover{
    background: rgb(187, 203, 203);
}
.rotate {
    transform: rotate(180deg); /* Áp dụng xoay ngược icon */
    transition: transform 0.3s ease; /* Tạo hiệu ứng chuyển động mượt mà */
  }
.save-change-button{
    padding: 10px 15px;
    background: rgb(117, 117, 227);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    right: -83%;
}
.essential{
    color: red;
}
.alert{
    color: red;
}