.footer {
  background-color: rgb(69 70 61);
  padding-bottom: 40px;
  margin-top: 40px;
}
.footer-wrapper {
  padding: 30px 0px 48px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
}
.col {
 display: flex;
 width: 260px; 
 /* background-color: yellowgreen; */
 flex-direction: column;
 /* align-items: center; */
 gap : 17px;
 line-height: 1.5;
}
.colmain {
  width: 600px;
  text-align: center;
}
.title {
  margin-left: 1px;
}
.support {
  margin-left: 2px;
  margin-top: 6px;
  text-decoration: none;
  cursor: pointer;
}
.title, .support {
  color: white;
}
.title_colmain {
  text-align: center;
  font-family: "Pinterest Sans", Helvetica, Arial, sans-serif;
}
.license {
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
  float: right;
}
.image_logo {
  margin-top: 20px;
  width: 400px;
  height: 200px;
}
.icon {
  margin-left: 20px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
}
.common {
  display: flex;
  align-items: center;
}
.footer p {
  height: 30px;
}