.show-details-container{
    
    position: fixed;
    background: rgba(0, 0, 0, 0.859);
    z-index: 0;
    top: 0px;
    height: 100vh;
    width: 100%;
    opacity: 0;

    /* transition: opacity 0.1s ease; */
    overflow-y: none;
    white-space: normal;
    transform: scale(0.8);
    display: none;
}

.show-details-container-show-up{
    opacity: 1;
    z-index: 20;
    transition: all 0.3s ease;
    /* display: block; */
    overflow-y: auto;
    transform: scale(1);
}
.show-details{
    position: absolute;
    background: transparent;
    /* height: 90vh; */
    width: 86%;
    left: 5%;
    top: 5%;
    /* display: none; */
    overflow-y: auto;
    white-space: normal;
}
.show-details::-webkit-scrollbar{
    display: none;
}  
.show-details-container .behavior-list{
    position: fixed;
    top: 2%;
    left: 93%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.behavior-list li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 68px;
    width: 68px;
    margin-bottom: 8px;

    /* background: pink; */
}
.behavior-list li.close-show-details{
    margin-bottom: 15px;
}
.behavior-list .follow-button-avatar-container{
    height: 45px;
    width: 45px;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    margin: 0px;
}
.behavior-list li .follow-button-avatar-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}
.behavior-list li i{
    font-size: 25px;
    display: block;
    /* margin-top: 15px; */
    cursor: pointer;
    background: white;
    padding: 10px 10px;
    border-radius: 50%;
}
.behavior-list li:hover{
    transform: scale(1.1);
    transition: all ease 0.2s;
}
.behavior-list li i.fa-xmark{
    padding: 11px 14px;
    background: transparent;
    color: white;
    transform: scale(1.2);
    margin-left: 25px;
    margin-bottom: 25px;
    /* border-radius: 0%; */
}
/* .behavior-list li i.fa-xmark:hover{
    background: rgb(153, 142, 142);
} */
.behavior-list li i.fa-thumbs-up{
    color: blue;
}
#unlike-icon{
    display: block;
}
#like-icon{
    display: none;
}

.behavior-list li i.fa-heart{
    color: red;
}
.behavior-list li span{
    font-size: 13px;
    color: rgb(230, 218, 218);
    margin-top: 4px;
}
.uploader{
    display: flex;
    /* background: rgba(0, 0, 0, 0.859); */
    padding-bottom: 20px;
}
.uploader div span{
    display: block;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.detail-uploader{
    font-size: 20px;
}
.uploader .detail-avatar-container{
    height: 42.212px;
    width: 42.212px;
    margin: 0px 10px;
    overflow: hidden;
    border-radius: 50%;
}
.uploader .detail-avatar{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.uploader .detail-date-uploaded{
    position: absolute;
    left: 1180px;
    top: 25px;
    color: white;
    font-style: italic;
}
.image-details{
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: start;
    background: white;
}
.image-details img{
    height: 84vh;
}

/* comment */
/* comment */
.comment-form1 {
    position: absolute;
    width: 86%;
    min-height: 500px;
    left: 5%;
    top: 108%;
    background-color: black;
}
.main-com-fo {
    display: flex;
    gap: 20px;
}

.currentDate {
    color: #aaa;
    font-size: smaller;
    display: flex;
    align-items: center;
    justify-content: end;
}
.num-com{
    margin: 20px;
    color: white;
}
.main-form {
    display: flex;
    border: 1px solid black;
    height: 110px;
    width: 70%;
    justify-content: center;
    margin: 0 auto;
}
#user-comment-avt-img-container{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 20px 20px;
    overflow: hidden;
}
#user-comment-avt-img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
#avt-img {
    object-fit: cover;
    object-position: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 10px 10px;
}
.part-com {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-top: 20px;
    align-items: flex-end;
}
#write-com{
    width: 100%;
    /* height: 30px; */
    background-color: black;
    border: none;
    border-bottom: 2px solid grey;
    color: white;
    outline: none;
    resize: vertical;
}
#write-com:focus {
    color: white;
    border-bottom: 3px solid white;
}
#btn-com {
    width: 130px;
    margin-top: 5px;
}
button.close-com {
    width: 60px;
    height: 38px;
    border-radius: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
button.close-com:hover {
    background-color: #3F3F3F;
}
#post-com {
    width: 60px;
    height: 38px;
    border-radius: 20px;
    background-color: #393939; /* Đặt nền mờ cho nút khi bị vô hiệu hóa */
    color: white;
    cursor: not-allowed; /* Đặt con trỏ chuột thành not-allowed khi bị vô hiệu hóa */
    transition: background-color 0.3s, cursor 0.3s;
}
#post-com.input-filled {
    background-color: #3EA6FF;
}
#post-com.hovered-button:hover {
    background-color: #65B8FF;
    cursor: pointer;
}
/* #commentContainer {
    margin-top: 20px;
    border-radius: 1px solid black;
    height: 50px;
    width: 100%;
} */


/* comment */
/* COMMENTS */
.comments__container{
    width: 70%;
    margin: 20px auto;
}

.comment__card{
    width: 100%;
    /* height: 106px; */
    display: grid;
    grid-template-columns: 10% auto;
    margin: 0.5rem;
    /* border-bottom: 1px solid #eee; */
}

.comment__card .pic{
    background-color: #48cae4;
    border-radius: 50%;
    margin: 10%;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
}

.comment__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px
}

.nickname{
    color: white;
    font-size: 25px;
}

.comment__info .comment{
    margin: 5px 0;
    color: white;
    max-width: 800px;
    min-height: 30px;
    word-wrap: break-word;
}

.comment__info .comment__bottom{
    display: flex;
}

.comment__bottom .like__icon--comment{
    font-size: 20px;
    margin-right: 20px;
    color: #eee;
    gap: 20px;
}

/* add with JS */
#like__icon, #dislike__icon {
    color: white;
}
#like__icon.liked1 {
    color: #adc7ff;
}
#dislike__icon.disliked {
    color: #adc7ff;
}

.reply{
    width: 70px;
    height: 25px;
    border: none;
    background: transparent;
    color: #aaa;
    text-transform: uppercase;
    cursor: pointer;
}