
/* body{
    padding-top: 155px;
}    */
.banner{
    background: linear-gradient(to top, rgb(133, 123, 123), white);
    height: 30vh;
    width: 80%;
    margin-left: 10%;
    border-radius: 0px 0px 20px 20px;
    position: relative;
    cursor: pointer;
}
.user-avatar{
    position: absolute;
    top: 13vh;
    left: 500px;
    padding: 10px;
    background: white;
    border-radius: 50%;
}
.user-avatar .user-avatar-img-container{
    overflow: hidden;
    height: 203px;
    width: 203px;
    border-radius: 50%;
}
.user-avatar img{
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#avatar-file{
    display: none;
}
.user-avatar i{
    position: absolute;
    cursor: pointer;
    font-size: 27px;
    background: white;
    box-shadow: 0px 0px 5px lightgray;
    padding: 5px;
    border-radius: 50%;
    top: 22vh;
    left: 160px;
}
.user-avatar img:hover,
.user-avatar i:hover{
    opacity: 0.8;
}
.short-introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 13vh;
}
.short-introduction *{
    margin-bottom: 10px;
}
.short-introduction h1{
    font-size: 40px;
    color: #343333;
}
.short-introduction a{
    color: black;
    background: rgb(239, 235, 235);
    padding: 13px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.short-introduction a:hover{
    background: lightgray;
}