@import url("https://fonts.googleapis.com/css2?family=Assistant&family=Nunito:wght@500&display=swap");

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: "Nunito",sans-serif;
  }
  div > ul{
    padding-left: 0px;
  }
  body {
    font-family: "Nunito",sans-serif;
    background-color: rgb(231, 231, 231);
    
  }
  #header {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #header, #more {
    z-index: 1;
    background-color: white;
  }
  #logo, #more {
    width: 23%;
  }
  #logo{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #logo img{
    height: 60px;
  }
  #more {
    height: 86vh;
  }
  h2 {
    color: rgb(45, 45, 119);
    text-align: center;
    cursor: pointer;
  }
  #main-header,
  #list {
    z-index: 0;
    width: 77%;
  }
  #main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__search {
    display: flex;
    justify-content: center;
    position: relative;
    width: 850px;
    margin: 0 20px;
  }
  form {
    width: 100%;
  }
  .example {
    width: 100%;
    background-color: rgb(231, 231, 231);
    height: 45px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
    outline: none;
  }
  .example:focus {
    color: black;
  }
  .example + i {
    width: 25px;
    color: rgb(125, 124, 124);
    position: absolute;
    right: 817px; /* Điều chỉnh vị trí của icon */
    top: 50%;
    transform: translateY(-50%);
  }
  .example + i:hover {
    cursor: pointer;
  }
  .header__search input {
    padding-left: 35px;
  }
  
  /* .bx-search {
      width: 10px;
  } */
  #infor_user {
    cursor: pointer;
    margin-right: 45px;
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    gap: 10px;
  }
  .avatar {
    border-radius: 50%;
    margin: 20px 0;
    overflow: hidden;
    object-position: center;
    object-fit: cover;
    width: 40px;
    height: 35px;
  }
  h3.name_user {
    font-size: 15px;
    font-weight: 100;
  }
  #list {
    /* background-color: rgb(231, 231, 231);
    height: 690px; */
    height: 86vh;
    /* background-color: rgb(231, 231, 231); */
    
  }
  #list::-webkit-scrollbar{
    display: none;
  }
  .maintable{
    background-color: white;
    margin: 40px 20px;
    padding: 25px 37px 40px;
    width: auto;
    overflow-x: auto;
    overflow-y: auto;
    height: 81vh;
    position: relative;
  }
  .maintable::-webkit-scrollbar-thumb{
    width: 2px;
    color: blue;
  }
  
  #container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    
  }
  .separate {
    width: 100%;
    height: 2px;
    background-color: rgb(228, 228, 228);
  }
  .separate1 {
    width: 100%;
    height: 2px;
    background-color: rgb(228, 228, 228);
    transform: rotate(90deg);
    position: absolute;
    left: -410px;
  }
  .bxs-home,
  .bx-circle,
  .bxs-user-circle {
      /* color: rgb(77, 77, 243); */
      color: black;
  }
  .more_nav {
    cursor: pointer;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 100%;
  }
  .more_nav-clicked{
    background: whitesmoke;
    transform: scale(1.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: all ease 0.3s;
  }
  .bx {
    width: 20%;
    text-align: center;
  }
  h3.title_nav {
    font-size: 19px;
    font-weight: 500;
    /* color: rgb(77, 77, 243); */
    color: black;
    width: 80%;
  }

  .dropdown{
    position: absolute;
  }
  .add-delete-buttons{
    position: absolute;
    left: 850px;
  }
  .add-delete-buttons button{
    margin-left: 5px;
    padding: 5px 20px;
    border-radius: 5px;
    /* cursor: pointer; */
  }
  .add-button{
    background: yellowgreen;
    color: white;
  }
  
  /*Edit Modal */
  .require{
    color: red;
  }
  .error-message{
    color: red;
  }
  /* EDIT IMAGE MODAL*/
  #editImageModal .modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #editImageModal .modal-body #image-infor-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #editImageModal .modal-body div.image-container{
    margin-top: 20px;
    width: 90%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #editImageModal .modal-body div:not(.image-container){
    width: 90%;
    margin-top: 10px;
  }
  #editImageModal #image{
    height: 100%;
    object-position: center;
  }
  #editImageModal .input-edit{
    width: 100%;
    outline: 2px solid rgb(12, 156, 156);
    padding: 10px;
    border-radius: 4px;
  }
  #editImageModal #image-description{
    resize: none;
    overflow: hidden;
  }

  /* EDIT USER MODAL*/
  #editUserModal .modal-body form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #editUserModal .modal-body div{
    width: 90%;
  }
  #editUserModal input{
    outline: 2px solid rgb(12, 156, 156);
    width: 100%;
    padding: 5px 10px;
    border-radius: 4px;
  }

  /*Filter*/
/* new-add */
i.fa-solid.fa-caret-down.down-click12{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 45px;
  position: absolute;
  right: 38px;
  top: 76%;
  transform: translateY(-50%);
}
.sub-cate1 {
  position: absolute;
  z-index: 25;
  display: none;
  height: 200px;
  overflow-y: scroll;
  /* border: 1px solid black; */
  box-shadow: 0px 0px 5px gray;
  background-color: white;
}
.sub-cate10 {
  word-wrap: break-word;
  padding-left: 15px;
  height: 35px;
  display: flex;
  margin: 0;
  align-items: center;
}
.sub-cate10:hover {
  background-color: rgb(153, 188, 144);
  cursor: pointer;
  color: black;
}
.sub-cate10.selected {
  color: rgb(153, 188, 144);
} 
.sub-cate10.selected:hover {
  background-color: rgb(153, 188, 144);
  cursor: pointer;
  color: black;
}
  
  
